_site
.sass-cache
.jekyll-metadata
*~
.DS_Store
evaluation.csv
alex1.md
alex2.md
alex3.md
amazon.md
azure.md
beginner.png
broadcast.png
dmitri.md
expert.png
index.md
intermediate.png
juan.md
kim.md
mathworks1.md
mathworks2.md
panel.md
phil.md
phillip.md
roman.md
venkat.md
wolfgang.md
